/* src/app/busqueda/busqueda.css */

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 500px; /* Forma de píldora completa */
    padding: 6px 12px;
    width: 360px;
    margin-bottom: 30px; /* Separación con los resultados */
}

.search-icon {
    width: 24px;
    height: 24px;
    fill: #121212;
    margin-right: 10px;
}

.search-input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    color: #121212;
    background: transparent;
    padding: 8px 0;
}

/* Botón de buscar (opcional, estilo sutil) */
button {
    background-color: transparent;
    border: none;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    transform: scale(1.05);
}