/* src/app/playlist/playlist.css */

.queue-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-secondary);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-secondary);
    transition: background-color 0.2s;
    /* Cortar texto largo */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-primary);
}

/* Clase dinámica para la canción sonando */
li.active {
    color: var(--spotify-green);
    font-weight: bold;
}