/* Variables de Color basadas en la paleta Spotify */
:root {
    --color-bg-dark: #191414; /* Fondo Principal */
    --color-bg-secondary: #282828; /* Paneles Secundarios */
    --color-accent-spotify: #1DB954; /* Verde de Acento */
    --color-text-primary: #FFFFFF; /* Texto Principal (Blanco) */
    --color-text-secondary: #B3B3B3; /* Texto Secundario (Gris Claro) */
    --color-progress-bar-inactive: #535353; /* Barra de Progreso Gris */
}

/* Estilos de Reset y Cuerpo */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Usar una fuente limpia y legible */
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column; /* Apila Header, Main y Footer verticalmente */
    height: 100vh;
    background-color: var(--color-bg-dark);
}

/* El Header contiene la Barra de Búsqueda */
header {
    height: 90px; /* Altura suficiente para la barra de búsqueda */
    padding: 20px;
    display: flex;
    /* Centra el wrapper horizontalmente */
    justify-content: center;
}

.header-content-wrapper {
    /* Ocupará el ancho permitido por la barra de búsqueda */
    width: 100%;
    /* Mantenemos el margen derecho para dejar espacio a la fila de reproducción */
    box-sizing: border-box;
    /* Centra la barra de búsqueda dentro de este wrapper */
    display: flex;
    justify-content: center; /* Centra el componente <app-barra-busqueda> */
}

/* El Main contiene Resultados y Fila de Reproducción */
.main-content-area {
    display: flex;
    flex: 1; /* Ocupa todo el espacio vertical disponible entre header y footer */
    overflow: hidden;
}

.results-area {
    /* El área de resultados ocupa el ancho restante */
    flex: 1;
    padding: 0 20px 0 20px; /* Sin padding bottom, lo hace el footer */
    overflow-y: auto;
}

.queue-area {
    width: 350px; /* Ancho fijo para la sidebar */
    background-color: var(--color-bg-secondary);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--color-text-primary);
    padding: 20px;
    overflow-y: auto; /* Permite scroll interno */
    box-sizing: border-box; /* Incluye padding en el ancho */
}

/* El Footer contiene el Reproductor de Música */
footer {
    height: 101px;
    background-color: var(--color-bg-dark);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.top-content-wrapper {
    /* Le damos un padding-bottom igual a la altura del footer para evitar que el contenido se esconda */
    padding-bottom: 100px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}